@gray-font-color: rgb(155, 155, 155);
@input-bgcolor: rgb(27, 27, 27);


.review-modal, .steps-modal {
  :global {
    .ant-modal {
      width: clamp(320px, 90%, 420px);
      max-width: clamp(320px, 90%, 420px);

      .swap-pair {
        font-size: 32px;
        padding-top: @sizeMS + 0px;

        .pair-item {
          &:first-child {
            margin-bottom: 20px;
          }
          .tip {
            font-size: 12px;
            color: @gray-font-color;
          }
      
          .center {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .symbol {
              display: flex;
              align-items: center;
              img {
                border-radius: 50%;
              }
            } 
          }
      
          .bottom {
            display: flex;
            font-size: 12px;
            color: @gray-font-color;
          }
        }
      }
    }
  }
}

.steps-modal {
  :global {
    .ant-modal-body {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      > img {
        position: absolute;
        top: 3px;
        margin: 30px;
        border-radius: 50%;
      }

      .anticon-loading {
        margin: 30px;
        font-size: 42px;
      }

      p {
        font-size: 20px;
        font-weight: 400;
      }

      .tip {
        margin-top: 50px;
        font-size: 12px;
        color: @gray-font-color;
      }

      .swap-confirm-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        .pair-confirm {
          display: flex;
          align-items: center;
          margin-top: 12px;
          font-size: 13px;
          gap: 12px;
          .pair-item {
            display: flex;
            align-items: center;
            .symbol {
              margin-right: 5px;
              font-size: 0;
              img {
                margin: 0;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
  
    .ant-modal-footer {
      // margin-top: 0;
      text-align: center;
      .ant-steps {
        justify-content: center;
      }
    }
  }
}