@gray-font-color: rgb(155, 155, 155);
@input-bgcolor: rgb(27, 27, 27);


.review-modal,
.steps-modal {
  :global {
    .ant-modal {
      width: clamp(320px, 90%, 420px);
      max-width: clamp(320px, 90%, 420px);

      .swap-pair {
        font-size: clamp(14px, 32px, 32px);
        padding-top: @sizeMS + 0px;

        .pair-item {
          &:first-child {
            margin-bottom: 20px;
          }

          .tip {
            font-size: 12px;
            color: @gray-font-color;
          }

          .center {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 46px;
            gap: 10px;

            .value {
              // width: 320px;
              flex-grow: 1;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              line-height: 1.2;
            }

            .symbol {
              display: flex;
              align-items: center;
              font-size: 28px;

              img {
                margin-left: 6px;
                border-radius: 50%;
              }
            }
          }

          .bottom {
            display: flex;
            font-size: 12px;
            color: @gray-font-color;
          }
        }
      }
    }
  }
}

.steps-modal {
  @body-padding-top: 10px;

  :global {
    .ant-modal-body {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 210px;
      padding-top: @body-padding-top;

      >img {
        position: absolute;
        top: calc(3px + @body-padding-top);
        margin: 0;
        border-radius: 50%;
      }

      .anticon-loading {
        order: 0;
        margin: 0;
        font-size: 42px;
      }

      p {
        order: 1;
        font-size: 20px;
        font-weight: 400;
      }

      .tip {
        order: 2;
        margin-top: 10px;
        font-size: 12px;
        color: @gray-font-color;
      }

      .swap-confirm-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          order: 0;
        }

        .pair-confirm {
          display: flex;
          align-items: center;
          margin-top: 12px;
          font-size: 13px;
          gap: 12px;

          .pair-item {
            display: flex;
            align-items: center;

            .symbol {
              margin-right: 5px;
              font-size: 13px;
              white-space: nowrap;

              img {
                margin: 0;
                border-radius: 50%;
                vertical-align: text-bottom;
                margin-right: 2px;
              }
            }

            .value {
              flex-grow: 1;
              max-width: 100px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }

    .ant-modal-footer {
      // margin-top: 0;
      text-align: center;

      .ant-steps {
        justify-content: center;
      }
    }
  }
}